<html lang="ch">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div>说明文档：</div>
<table style="border-collapse: collapse">
    <tr>
        <td colspan="3"><nobr>基本参数同 idea设置中的 File and code Templates 模板说明</nobr></td>
    </tr>
    <tr>
        <td><nobr><b>${tableSaveInfo.basePackage}</b></nobr></td>
        <td>&nbsp;</td>
        <td>默认: cn.xxx.xxx</td>
    </tr>
    <tr>
        <td><nobr><b>${tableSaveInfo.basePath}</b></nobr></td>
        <td>&nbsp;</td>
        <td>默认: /src/main/java</td>
    </tr>
    <tr>
        <td><nobr><b>${tableSaveInfo.entityNameSuffix}</b></nobr></td>
        <td>&nbsp;</td>
        <td>实体类名后缀，默认为空</td>
    </tr>
    <tr>
        <td><nobr><b>${tableSaveInfo.mapperNameSuffix}</b></nobr></td>
        <td>&nbsp;</td>
        <td>mapper类名后缀, 默认: Mapper</td>
    </tr>
    <tr>
        <td><nobr><b>${tableSaveInfo.daoNameSuffix}</b></nobr></td>
        <td>&nbsp;</td>
        <td>dao类名后缀, 默认: Dao</td>
    </tr>
    <tr>
        <td><nobr><b>${tableSaveInfo.daoImplNameSuffix}</b></nobr></td>
        <td>&nbsp;</td>
        <td>daoImpl类名后缀, 默认 DaoImpl</td>
    </tr>
    <tr>
        <td><nobr><b>${tableSaveInfo.entityPackageSuffix}</b></nobr></td>
        <td>&nbsp;</td>
        <td>实体类包名后缀, 默认: entity</td>
    </tr>
    <tr>
        <td><nobr><b>${tableSaveInfo.mapperPackageSuffix}</b></nobr></td>
        <td>&nbsp;</td>
        <td>mapper包名后缀, 默认: mapper</td>
    </tr>
    <tr>
        <td><nobr><b>${tableSaveInfo.daoPackageSuffix}</b></nobr></td>
        <td>&nbsp;</td>
        <td>dao包名后缀, 默认: dao</td>
    </tr>
    <tr>
        <td><nobr><b>${tableSaveInfo.daoImplPackageSuffix}</b></nobr></td>
        <td>&nbsp;</td>
        <td>daoImpl包名后缀, 默认: dao.impl</td>
    </tr>
</table>
</body>
</html>